# for multi language
VITE_LANGUAGE=zh
#VITE_LANGUAGE=en
VITE_BASE_URL=http://0.0.0.0:4321/bot_join/chat-bot/DailyAsrRTVIBot

# just for en
#VITE_LANGUAGE=en
#VITE_BASE_URL=http://0.0.0.0:4321/bot_join/chat-bot/DailyRTVIBot